#nano Dockerfile

FROM mysql
ENV MYSQL_ROOT_PASSWORD=Password
ENV MYSQL_DATABASE=Database name
EXPOSE 3306
CMD ["mysqld"]

#docker build -t imgname .
#docker run -d --name conatinername imgname
#docker exec -it conatinername /bin/bash
